.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-width: 920px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 8px;
}

.listMessagesWrapper {
  padding: 16px 0 16px 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.listMessages {
  overflow: auto;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

.listMessages p {
  word-break: break-all;
}

.cardMessage {
  padding: 8px;
  margin-bottom: 4px;
  width: fit-content;
  border-radius: 8px;
}

.cardMessageSender {
  background-color: #6ea6b9;
  color: #f4f4f4;
  align-self: flex-start;
}

.cardMessageRecipient {
  background-color: #26c0f3;
  align-self: flex-end;
}

.inputSendMessage {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 8px;
}

.inputSendMessage textarea {
  flex: 1;
  resize: none;
  border: none;
  background-color: rgba(77, 77, 77, 0.1);
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  color: white;
  height: 54px;
  max-height: 160px;
}

.sendButton {
  cursor: pointer;
}
